{% extends 'base.html.twig' %}

{% block title %}Llibres{% endblock %}
{% block body %}
<h1>Biblioteca Personal David Ivars Oliver</h1>

<p>Pàgina d'inici</p>
<p>Projecte Symfony 2n DAW</p>
<p>Curs 20/21</p>
<a href="{{ path('fitxa_llibre', {isbn: 'A111B3'}) }}">
<img src="{{ absolute_url(asset('img/llibre.png')) }}"/>
</a>
{% endblock %}